.App {
  text-align: center;
}

#graph-id-graph-wrapper {
  padding: 20px;
  border: 1px dotted #a29797;
  margin: 50px auto;
  height: 400px;
  width: 800px;
  background-color: #eaeaea;
}
.numberCircle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding: 8px;
  background: #dadada;
  border: 1px solid #666;
  color: #666;
  text-align: center;
  opacity: 0.8;
  font: 19px Arial, sans-serif;
}
.numberSquare {
  width: 18px;
  height: 18px;
  padding: 8px;
  background: #dadada;
  border: 1px solid #666;
  color: #666;
  text-align: center;
  opacity: 0.8;
  font: 19px Arial, sans-serif;
}

.button {
  background-color: #dadada; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}